@import '../../styles/vars';

.square__wrapper {
  margin-top: 30px;
  width: 300px;
  height: 300px;
  border: 1px solid $border-color;
  display: flex;
  flex-wrap: wrap;
}

.square__item {
  width: 60px;
  height: 60px;
  border: 1px solid$border-color;
  flex-basis: 20%;
}
