@import '../../styles/vars';

.square {
  &__wrapper {
    margin-top: 30px;
    // width: 300px;
    // height: 300px;
    border: 1px solid $border-color;
    // display: flex;
    // flex-wrap: wrap;

    display: grid;

    &--easy {
      grid-template-columns: repeat(5, 1fr);
    }

    &--medium {
      grid-template-columns: repeat(10, 1fr);
    }

    &--hard {
      grid-template-columns: repeat(15, 1fr);
    }
  }

  &__item {
    // width: 100%;
    width: 60px;
    height: 60px;
    border: 1px solid $border-color;
    // flex-basis: 20%;
    @include transition;
    cursor: pointer;

    &--active {
      background-color: $active-squares;
      width: 60px;
      height: 60px;
      border: 1px solid $border-color;
      flex-basis: 20%;
      @include transition;
      cursor: pointer;
    }
  }
}
